*{
    margin: 0;
    padding: 0;
    background-color: #d1d7eb;
}
.App{
    width: 600px;
}
button{
    color:black;
    background-color: #aabde9;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-color: #2b1cb1;
    border-radius: 3px;
}
#root {
    display: flex;
    justify-content: center;
}
input{
    width: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    border: 1px solid #1c0da0;
    border-radius: 4px;
    box-sizing: border-box;
}
h1{
    color: #3d0808;
    text-align: center;
}
.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}